page-home {
  background-color: #606060;
  ._animalOrigin{
    background-color: #f53d3d;
    padding: 0;
    margin-bottom: 10px;
    height: 333px;

  }
  ._VegetableOrigin{
    background-color: #1b8139;
    padding: 0;
    margin-bottom: 10px;
    height: 333px;
  }
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 40%;
      font-size: 2.2em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.2em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
    .title{
      text-align: center;
    }

  }

}
