page-list-animals {

  ._listAnimals{
    margin: 2.5%;
    width: 45%;
    height: 200px;
    float: left;
  }
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  }
  ._vegetable{
    width: 90%;
    margin: 2.5% auto;
  }
  .card-title{
    margin: 10px auto;
    text-align: center;
    font-size: 16pt;
  }

}
